th, td {
	      padding: 5px 10px;
      border: 1px solid #D0D7DE;

}

th {
	background-color: #ffffff;
}

#msg {
	color: #0a0;
}

/* zebra-striping seems to really slow down Opera sometimes */
tr:nth-child(even) {
  background-color: #F6F8FA;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}

.active {
	color: black;
}

tr:hover {
	   background-color: #DEE2E8;
}